.git
.env
.periplus
.extension-sources
**/.DS_Store
**/.venv
**/__pycache__
**/*.egg-info
**/*.pyc
**/.pytest_cache
**/.coverage
**/.tmp
**/build
**/dist
**/node_modules

**/.next
_web_old_dont_touch
**/.env*
